body {
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  width: 30%;
  height: 60%;
  background-color: beige;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: fit-content;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.adddecrementbuttons {
  display: flex;
  align-items: center;
 gap: 10px;
}

.done {
  text-decoration: line-through;
}
h1 {
  cursor: pointer;
}